<div class="wrapper">
<div class="button-container">
  <div class="icon-box red">
  <a (click)="navigateToComponent('bills')">
    <img src="assets/image/11.png" alt="Bills" class="icon-button" />
  </a>
</div>
  <div class="icon-box green">
  <a (click)="navigateToComponent('warranty')">
    <img src="assets/image/21.png" alt="Warranty" class="icon-button" />
  </a>
</div>
<div class="icon-box blue">
  <a (click)="navigateToComponent('warehouse')">
    <img src="assets/image/31.jpg" alt="Go Warehouse" class="icon-button" />
  </a>
</div>
</div>
</div>
